<dsw-sidebar-actions
  [isWidgetEditorWarning]="true"
  [isBack]="true"
  (apply)="onSave()"
>
  Type & Datasource
</dsw-sidebar-actions>

@if (model) {
  <div class="container">
    <label>Widget type</label>
    <ng-select
      class="dsw"
      [(ngModel)]="type"
      [items]="widgetTypes"
      bindLabel="label"
      [clearable]="false"
      [closeOnSelect]="true"
      (change)="onTypeChange()"
    ></ng-select>
    @if (!isHtmlViewerSelected()) {
      <label>Data source</label>
      <dsw-input
        [required]="invalid.includes('datasource')"
        [(ngModel)]="model.dataSource"
        [chooseButton]="true"
        (keydown.enter)="onDatasourceChanged()"
        (choose)="onSelectDataSource()"
      ></dsw-input>
    } @else {
      <div class="field-note">
        HTML web view does not use an MDX data source. Use Widget settings -> Data for direct
        HTML/URL, or configure Reference to for linked payloads from a pivot widget.
      </div>
    }

    <label>Reference to</label>
    <ng-select
      class="dsw"
      [items]="widgetList"
      [(ngModel)]="model.dataLink"
      bindLabel="label"
      bindValue="name"
      [clearable]="false"
      [closeOnSelect]="true"
      (change)="onLinkChange()"
    >
    </ng-select>
    <!-- Target details -->
    <!-- <label>Target details</label>
    <input class="select">-->
  </div>
}
